{% load static %}
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Vagas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            {% for tipo in tipos %}
              {% if tipo.tipo == "emp" %}
                <a class="nav-link" href="{% url 'cadastrovaga' %}">Cadastrar Vaga</a>
                <a class="nav-link" href="{% url 'vagasempresa' %}">Acompanhar Vagas</a>
              {% elif tipo.tipo == "cad" %}
                <a class="nav-link" href="#">Vagas</a>
                <a class="nav-link" href="#">Acompanhar Candidaturas</a>
                <a class="nav-link" href="#">Meus Dados</a>
              {% endif %}
            {% endfor %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a class="nav-link" href="#">Vagas</a>
            <a class="nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-link" href="{% url 'cadastro' %}">Cadastro</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>