{% extends 'base.html' %}
{% block 'title' %} Cadastre a Vaga {% endblock %}
{% block content %}
{% include 'partials/_menu.html' %}
<div class="cadastro_formulario">
<form action="{%url 'atualizar_vaga' %}" method="POST">
    {% csrf_token %}
    <div class="form-row">
        <input type="text" name="vaga_id" value="{{vaga.id}}" hidden>
        <div class="form-group col-md-6 organiza">
            <label for="inputNvaga">Nome da Vaga</label>
            <input type="text" name="n_vaga" class="form-control" id="inputNvaga" value="{{vaga.nome_vaga}}" placeholder="Coloque aqui o nome da sua vaga">
        </div>
        
        <div class="form-group col-md-6 organiza">
            <label for="inputRequisitos">Requisitos</label>
            <textarea id="inputRequisitos" class="form-control" name="requisitos" cols="30" rows="5" placeholder="Coloque aqui os requisitos para a sua vaga" required>{{vaga.requisitos}} </textarea>
        </div>

        <div class="form-group col-md-6 organiza">
            <label for="inputFaixaSalarial">Faixa Salarial</label>
            <select name = "faixa_salarial" id="inputFaixaSalarial" class="form-select" aria-label="Faixa Salarial">
                <option>Selecione a faixa Salarial desejada.</option>
                {% if vaga.faixa_salarial == "a" %}
                    <option selected value="a">Até 1.000</option>
                    <option value="b">De 1.000 a 2.000</option>
                    <option value="c">De 2.000 a 3.000</option>
                    <option value="d">Acima de 3.000</option>
                {% elif vaga.faixa_salarial == "b" %}
                    <option value="a">Até 1.000</option>
                    <option selected value="b">De 1.000 a 2.000</option>
                    <option value="c">De 2.000 a 3.000</option>
                    <option value="d">Acima de 3.000</option>
                {% elif vaga.faixa_salarial == "c" %}
                    <option value="a">Até 1.000</option>
                    <option value="b">De 1.000 a 2.000</option>
                    <option selected value="c">De 2.000 a 3.000</option>
                    <option value="d">Acima de 3.000</option>
                {% elif vaga.faixa_salarial == "d" %}
                    <option value="a">Até 1.000</option>
                    <option value="b">De 1.000 a 2.000</option>
                    <option value="c">De 2.000 a 3.000</option>
                    <option selected value="d">Acima de 3.000</option>
                {% endif %}
            </select>
        </div>

        <div class="form-group col-md-6 organiza">
            <label for="inputEscolaridade">Escolaridade Minima</label>
            <select name = "escolaridade" id="inputEscolaridade" class="form-select" aria-label="Escolaridade">
                <option >Selecione o nivel de Escolaridade desejado.</option>
                {% if vaga.escolaridade == "A" %}
                    <option selected value="A">Ensino Fundamental</option>
                    <option value="B">Ensino médio</option>
                    <option value="C">Tecnólogo</option>
                    <option value="D">Ensino Superior</option>
                    <option value="E">Pós/MBA/Mestrado</option>
                    <option value="F">Doutorado</option>
                {% elif vaga.escolaridade == "B" %}
                    <option value="A">Ensino Fundamental</option>
                    <option selected value="B">Ensino médio</option>
                    <option value="C">Tecnólogo</option>
                    <option value="D">Ensino Superior</option>
                    <option value="E">Pós/MBA/Mestrado</option>
                    <option value="F">Doutorado</option>
                {% elif vaga.escolaridade == "C" %}
                    <option value="A">Ensino Fundamental</option>
                    <option value="B">Ensino médio</option>
                    <option selected value="C">Tecnólogo</option>
                    <option value="D">Ensino Superior</option>
                    <option value="E">Pós/MBA/Mestrado</option>
                    <option value="F">Doutorado</option>
                {% elif vaga.escolaridade == "D" %}
                    <option value="A">Ensino Fundamental</option>
                    <option value="B">Ensino médio</option>
                    <option value="C">Tecnólogo</option>
                    <option selected value="D">Ensino Superior</option>
                    <option value="E">Pós/MBA/Mestrado</option>
                    <option value="F">Doutorado</option>
                {% elif vaga.escolaridade == "E" %}
                    <option value="A">Ensino Fundamental</option>
                    <option value="B">Ensino médio</option>
                    <option value="C">Tecnólogo</option>
                    <option value="D">Ensino Superior</option>
                    <option selected value="E">Pós/MBA/Mestrado</option>
                    <option value="F">Doutorado</option>
                {% elif vaga.escolaridade == "F" %}
                    <option value="A">Ensino Fundamental</option>
                    <option value="B">Ensino médio</option>
                    <option value="C">Tecnólogo</option>
                    <option value="D">Ensino Superior</option>
                    <option value="E">Pós/MBA/Mestrado</option>
                    <option selected value="F">Doutorado</option>
                {% endif %}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary organiza-botao">Alterar</button>
</form>
</div>
{% endblock %}